[submodule "project-teacher"]
	path = project-teacher
	url = git@github.com:profries/pi4_2021_2_crud_produtos.git
[submodule "project-scheffer"]
	path = project-scheffer
	url = git@github.com:devscheffer/API-herbie-21.git
